@import './variables.module.scss';

.section{
    width: 90%;
    background-color: #000000;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px 0 0;
    .section-title{
        font-size: 48px;
        font-weight: 900;
        letter-spacing: 4px;
        line-height: 60px;
        width: 100%;
        color: #ffffff;
        margin: 30px;
        text-transform: uppercase;
        font-family: $font-family-orbitron;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 480px;
        padding: 20px;
        .item-box{
            width: 32%;
            max-width: 420px;
            margin: 16px;
            cursor: pointer;
            border-radius: 8px;
            background-color: #ffffff;
            padding: 30px;
            .content{
                color: #616161;
                width: 80%;
                margin: 0px auto 20px auto;
                .title{
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: $font-family-orbitron;
                }
                .description{
                    font-size: 12px;
                    line-height: 16px;
                }
            }
            .image{
                width: 85%;
                height: 340px;
                background-color: yellow;
                margin: 16px auto 0 auto;
            }
        }
    }
}