@import './variables.module.scss';

.section{
    width: 90%;
    background-color: #000000;
    margin: 80px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px 0 0;
    .section-title{
        font-size: 48px;
        font-weight: 900;
        letter-spacing: 4px;
        line-height: 60px;
        width: 100%;
        color: #ffffff;
        margin: 30px auto;
        text-transform: uppercase;
        font-family: $font-family-orbitron;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 480px;
        padding: 20px;
        .item-box{
            width: 32%;
            max-width: 420px;
            min-width: 300px;
            height: 100%;
            margin: 0 16px;
            cursor: pointer;
            border-radius: 8px;
            background-color: #ffffff;
            padding: 30px 20px;
            a{
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                .content{
                    color: #616161;
                    width: 80%;
                    margin: 0px auto;
                    .title{
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 700;
                        text-transform: uppercase;
                        font-family: $font-family-orbitron;
                        text-decoration: none;
                    }
                    .description{
                        font-size: 12px;
                        line-height: 16px;
                        text-decoration: none;
                    }
                }
                .image{
                    width: 85%;
                    height: 340px;
                    background-color: yellow;
                    margin: 16px auto 0 auto;
                }
            }
        }
    }
}

.section:first-child{
    margin: 0px auto;
}

@media screen and (max-width: $mobile-medium-bp){
    .section{
        width: 100%;
        margin: 80px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .section-title{
            width: 80%;
            margin: 20px auto;
        }
        .wrapper{
            flex-direction: column;
            flex-wrap: nowrap;
            height: auto;
            .item-box{
                width: 60%;
                padding: 30px 20px;
                a .content {
                    .title{
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}