@import "./variables.module.scss";

.error-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    .error{
        margin-top: 60px;
        font-size: 60px;
        line-height: 80px;
        color: #ffffff;
        font-weight: 900;
        font-family: $font-family-orbitron;
    }
    h2{
        font-size: 36px;
        line-height: 60px;
        color: #ffffff;
        font-family: $font-family-orbitron;
    }
}

@media screen and (max-width: $tablet-bp ) {
    .error-container{
        .error{
            margin-top: 60px;
            font-size: 36px;
            line-height: 44px;
        }
        h2{
            font-size: 20px;
            line-height: 28px;
            margin-top: 20px;
        }
    }
}